.weatherCard-title {
    font-size: 18px !important;
    text-align: center !important;
}

.weatherCard-body {
    font-size: 14px !important;
    text-align: center !important;
}

.weatherCard-temp {
    font-size: 36px !important;
    text-align: center !important;
}
